* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.template {
  width: 33.33%;
  display: inline-block;
  border: 10px solid transparent;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.meme {
  text-align: center;
}

.meme > img {
  width: 300px;
}

.meme input {
  border: 1px solid black;
  outline: none;
}
