* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 10px;
}

button {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #aaa;
}
